*{
    color: white;
}
body{
    background-color: rgba(30, 30, 30, 0.983);
}
.top-section, .middle-section{
    display: flex;
    justify-content: center;
}
.left-side img, .right-side img, p{
    width: 450px;
    padding: 2rem;
}
.top-section .left-side, .middle-section .right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1,h2,h3{
    text-align: center;
}
.abilities{
    display: flex;
    justify-content: space-around;
}
.abilities > * {
    width: 24vw;
    padding: 2rem;
}
.abilities img{
    width: 20vw;
}
